<div class="container mt-4">
    <h2 class="text-center mb-4">Gestión de Clientes</h2>
    <button class="btn btn-primary mb-3" >Agregar Cliente</button>
  
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Direcciones</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.clienteId }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>
            <ul *ngIf="cliente.direcciones?.length">
              <li *ngFor="let direccion of cliente.direcciones">
                {{ direccion.calle }}, {{ direccion.ciudad }}, {{ direccion.estado }} - {{ direccion.codigoPostal }}
              </li>
            </ul>
            <span *ngIf="!cliente.direcciones?.length">No tiene direcciones</span>
          </td>
          <td>
            <button class="btn btn-warning btn-sm mr-2"  >Editar</button> &nbsp;
            <button class="btn btn-danger btn-sm"  >Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  